{% block footer %}


    <div class="fullcol text-center" style="background: white; margin:0;">
        <img src="/Bookings/Images/paypal.png" style="padding:20px;">
    </div>

    <footer>
        <div class="wrap">
            <div class="row">
                <div class="col-12 text-center">

                    <div style="padding-top:40px; text-align: center">
                        <a class="greytext" href="http://www.pinterest.com/amcasson/"><i class="fa fa-pinterest-square fa-2x"></i></a>
                        <a class="greytext" href="https://twitter.com/rivieraclassic"><i class="fa fa-twitter-square fa-2x"></i></a>
                        <a class="greytext" href="https://www.facebook.com/pages/Riviera-Classic-Car-Rental/1549619028605928"><i class="fa fa-facebook-square fa-2x"></i></a>
                        <a class="greytext" href="https://plus.google.com/101563111409578547538/posts"> <i class="fa fa-google-plus-square fa-2x"></i> </a>

                        <a class="greytext" href="https://www.linkedin.com/company/riviera-classic-car-hire"> <i class="fa fa-linkedin-square fa-2x"></i> </a>
                        <a class="greytext" href="https://instagram.com/rivieraclassiccar"> <i class="fa fa-instagram fa-square fa-2x"></i> </a>

                        <a class="greytext" href="http://vimeo.com/rivieraclassiccarhire"><i class="fa fa-vimeo-square fa-2x"></i></a><br>

                        <p style="font-size:80%" class="greytext">Red Square Interactive 2016</p>
                    </div>

                </div>
            </div>
            <!--End of Row-->
        </div>
    </footer>

{% endblock %}
