{% block navigation %}


    <div style="background:linear-gradient(30deg, black, #333); border-bottom: 1px solid #444; color:grey; padding:10px;" class="mobiletablethide">
        <div class="wrap">
        <div class="row">
            <div style="float:right;">
                <a class="socialbarbutton" href="/contact-us">Contact Us</a>
                <a class="socialbarbutton" href="#">t&amp;c's</a>
                <a class="socialbarbutton" href="/price-list">Price List</a>
            </div>
            <a class="greytext" href="http://www.pinterest.com/"><i class="fa fa-pinterest-square fa-2x"></i></a>
            <a class="greytext" href="https://twitter.com/"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a class="greytext" href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a class="greytext" href="https://plus.google.com/"> <i class="fa fa-google-plus-square fa-2x"></i> </a>

            <a class="greytext" href="https://www.linkedin.com/"> <i class="fa fa-linkedin-square fa-2x"></i> </a>
            <a class="greytext" href="https://instagram.com/"> <i class="fa fa-instagram fa-square fa-2x"></i> </a>

            <a class="greytext" href="http://vimeo.com/"><i class="fa fa-vimeo-square fa-2x"></i></a><br>
        </div>
        </div>
    </div>

    <nav>
        <ul id="mainmenu" class="menu mobiletablethide">

            <li><a href="/cars">Rental Fleet
                    <div>View The
                        Cars</div>
                </a>
            </li>
            <li><a href="/price-list">Price List
                    <div>Prices and Availability</div>
                </a>
            </li>
            <li><a href="/" class="logolink">
                    <div class="logo svgbg">
                        <h4 style="color: #FFF; padding-top: 40px">Red Square Interactive Demo Page</h4>
                    </div>
                </a>
                <ul>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">What we do</a></li>
                </ul>
            </li>
            <li><a href="/the-extra-mile.php">The Extra Mile
                    <div>Concierge Service</div>
                </a>
            </li>
            <li><a href="/contact-us">Contact Us
                    <div>Get in touch</div>
                </a>
                <ul>
                    <li><a href="#">Find Us</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <div style="display: block; clear:both;"></div>

{% endblock %}
