{# Load the Base Template #}
{% extends "@Default/layouts/2Column.twig" %}

{% block meta %}
<script>var open=1;</script>
{% endblock %}

{% block content %}

    CACHED
    (gacode)(/gacode)

{% endblock %}
