<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">

    {% block meta %}
    {% endblock %}

</head>
<body {% block bodyclass %}{% endblock %}>



<header style="background: linear-gradient(30deg, black, #222); border-bottom:5px solid #333">
    {% block navigation %}
        {% include '@Default/components/navigation.twig' %}
    {% endblock %}
</header>

    {% block maincontent %}
    {% endblock %}

<footer>
    {% block footer %}
        {% include '@Default/components/footer.twig' %}
    {% endblock %}
</footer>

</body>
</html>
